.venv/
.git/
.github/

__pycache__/
.pytest_cache/
*.py[cod]

.env
.env.*

*.log

coverage/
htmlcov/
.pytest_cache/

data/raw/
data/interim/
data/processed/
models/random_forest_baseline.joblib
models/xgboost_baseline.joblib
models/logistic_regression_calibrated.joblib

notebooks/
load_tests/

frontend/node_modules/

*.ipynb_checkpoints

.vscode/
.idea/

Thumbs.db
.DS_Store